/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:20px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.menu {
    background-color:blue;
    width:250px;
    height:auto;
    margin:auto auto;
}

.menu b{
    color:yellow;
}

.menu h3{
}

#restart {
    display:none;
    position:absolute;
    width:100%;
    top:50%;
    text-align:center;
}

.button{
    background-color:grey;
    color:white;
    border-radius:4px;
    padding:1px 0px;
    height:50px;
    width:200px;
    margin:10px auto;

}

.center{
    margin: auto;
    position:absolute;
    width: 100%;
    height:200px;
    top:0;
    bottom:0;
    
}

#start {
    position:absolute;
    background-image:url("../img/start_bg.jpg");
    background-size:cover;
    width:100%;
    height:100%;
    text-align:center;
    font-size: 30;
    color:yellow;
}

#start h1{
    margin:150px;
}

.sound{
    position:absolute;
    background-size:90%;
    background-repeat:no-repeat;
    height:30px;
    width:30px;
    top:10px;
    left:10px;
    z-index:2;
}

.sound-on{
    background-image:url("../img/sound-on.png");
}

.sound-off{
    background-image:url("../img/sound-off.png");
}
